<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-project-heading" jhiTranslate="labtelApp.project.home.createOrEditLabel">Create or edit a Project</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!project.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="project.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labtelApp.project.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="project.value" />
                </div>

                <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span  *ngIf='project.id'>
                    <h5>Permissions</h5>
                    <div class="row">
                        <div class="col">
                                <label class="form-control-label" jhiTranslate="labtelApp.projectPermission.user" for="field_user">User</label>
                                <select class="form-control" id="field_user" name="user" [(ngModel)]="newUser" >
                                    <option [ngValue]="userOption" *ngFor="let userOption of usersFiltered; trackBy: trackUserById">{{userOption.login}}</option>
                                </select>
                        </div>
                        <div class="col">
                            <label class="form-control-label" jhiTranslate="labtelApp.projectPermission.permission" for="field_permission">Permission</label>
                            <select class="form-control" name="permission" [(ngModel)]="newPermission" id="field_permission" >
                                <option value="READ">{{'labtelApp.TypePermission.READ' | translate}}</option>
                                <option value="READ_WRITE">{{'labtelApp.TypePermission.READ_WRITE' | translate}}</option>
                            </select>
                        </div>
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="addPermission()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Add</span>
                        </button>
                    </div>
                    <br>
                    <div class="table-responsive">
                            <table class="table table-striped">
                                    <thead>
                                        <th>User</th>
                                        <th>Permission</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let permission of permissions ;trackBy: trackId">
                                            <td>{{permission.userLogin}}</td>    
                                            <td>{{permission.permission}}</td>    
                                            <td>                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="deletePermission(permission)">
                                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Delete</span>
                                                </button></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                </span>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
