<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectPermission">
            <h2><span jhiTranslate="labtelApp.projectPermission.detail.title">Project Permission</span> {{projectPermission.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="labtelApp.projectPermission.permission">Permission</span></dt>
                <dd>
                    <span jhiTranslate="{{'labtelApp.TypePermission.' + projectPermission.permission}}">{{projectPermission.permission}}</span>
                </dd>
                <dt><span jhiTranslate="labtelApp.projectPermission.user">User</span></dt>
                <dd>
                    {{projectPermission.userLogin}}
                </dd>
                <dt><span jhiTranslate="labtelApp.projectPermission.project">Project</span></dt>
                <dd>
                    <div *ngIf="projectPermission.projectId">
                        <a [routerLink]="['/project', projectPermission.projectId, 'view']">{{projectPermission.projectValue}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-permission', projectPermission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
