<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-project-permission-heading" jhiTranslate="labtelApp.projectPermission.home.createOrEditLabel">Create or edit a Project Permission</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!projectPermission.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="projectPermission.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labtelApp.projectPermission.permission" for="field_permission">Permission</label>
                    <select class="form-control" name="permission" [(ngModel)]="projectPermission.permission" id="field_permission" >
                        <option value="READ">{{'labtelApp.TypePermission.READ' | translate}}</option>
                        <option value="READ_WRITE">{{'labtelApp.TypePermission.READ_WRITE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labtelApp.projectPermission.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="projectPermission.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="labtelApp.projectPermission.project" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" [(ngModel)]="projectPermission.projectId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.value}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
